[submodule "Lab2/src"]
	path = Lab2/src
	url = git@github.com:lvorobjov/SII-Lab2.git
[submodule "Lab4/src"]
	path = Lab4/src
	url = git@github.com:lvorobjov/SII-Lab4.git
[submodule "c45"]
	path = c45
	url = git@github.com:lvorobjov/c45.git
[submodule "cmake/Modules/adoc"]
	path = cmake/Modules/adoc
	url = git@github.com:lvorobjov/AsciiDoc-CMake.git
